* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/*navbar*/  
nav {
    height: 50px;
    background-color: #ff6f00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
  
nav a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
  
.link-container{
    list-style: none;
    gap: 10px;
    display: flex;
    align-items: center;
}
.link-container a:hover{
    color: blue;
}
.link-container svg{
    transition: all 0.15s ease;
}
.link-container a:hover svg{
    fill: blue;
}

/*search*/
.search-container{
    margin: 0 auto;
    width:80% ;
    background-color: aliceblue;
    padding: 60px 100px;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  .search-container form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-section{
    display: flex;
    gap: 10px;
  }
  .form-section select{
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    max-width: auto;
  }
  .search-container form button{
    padding: 2px 40px;
    border-radius: 10px;
    border: 1px solid black;
  }

/*footer*/
.footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    height: auto;
    margin-top: 20px;
    background-color: #f6f6e9;
}
.footer a{
    color: black;
    text-shadow: 1px 1px 3px white;
}
.footer a:hover{
    color: blue;
    transform: translateY(-1px);
}
.socials{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: auto;
}
.socials svg{
    fill: blue;
    transition: all 0.5s ease-in-out;
}
.socials svg:hover{
    fill: orange;
    transform: translateY(-3px);
    scale: 1.1;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: auto;
    margin-top: 20px;
}



  .results-container {
    margin: 20px;
  }
  
  .bus-card {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px;
  }
  
  .bus-card h3 {
    margin: 0 0 10px;
  }
  
  .bus-card button {
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    cursor: pointer;
  }
  