* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--text-color);
}
body{
  background-color: var(--background-color);
}
:root{
  --primary-color:#D32F2F;
  --background-color:#2A2A2A ;
  --secondary-color:#FFEB3B;
  --tertiary-color:#FF9800;
  --text-color:#E0E0E0;
  --shadow-color:#333333;
  --button-color:#FF5722;
}
.light{
  --primary-color:#F44336;
  --background-color:#FFF3E0 ;
  --secondary-color:#FFEB3B;
  --tertiary-color:#FF9800;
  --text-color:#212121;
  --shadow-color:#333333;
  --button-color:#FF5722;

}
/*navbar*/

nav {
  height: 50px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 3px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav a {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
}

.link-container{
  list-style: none;
  gap: 10px;
  display: flex;
  align-items: center;
}
.link-container a{
  margin-right: 20px;
}
.link-container a:hover{
  color: var(--secondary-color);
}

/*search*/
.search-container{
  margin: 15px auto;
  width:fit-content ;
  background-color: var(--primary-color);
  padding: 20px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.search-container form{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.form-section{
  display: flex;
  gap: 10px;
}
.form-section label{
  font-size: 1.2rem;
  color: var(--background-color);
}
.form-section input{
  color: black;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 1px solid var(--text-color);
  text-align: center;
  width: 200px;
  max-width: auto;
  overflow-y: auto;
}

.search-container form button{
  background-color: var(--secondary-color);
  color: black;
  padding: 2px 40px;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  transition: scale 0.3s ease, border 0.1s ease;
}
.search-container form button:hover{
  border: 2px solid var(--shadow-color);
  cursor: pointer;
  scale: 1.05;
}
/*benefits and partners*/
.benefits{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 10px;
  flex-wrap: wrap;
}
body h3{
  text-align: center;
  font-size: 2rem;
}
.benefits-card{
  border: 1px solid var(--text-color);
  border-radius: 20px;
  padding: 5px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 31%;
  background-color: var(--primary-color);
  color: var(--background-color);
}
.benefits-card svg{
  align-self: center;
  fill: var(--background-color);
  height: 80px;
  width: auto;
}
.benefits-card h3{
  font-size:0.9rem ;
  letter-spacing: 2px;
}
.benefits-card p{
  font-size: 0.75rem;
}


.partners{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.partners h3{
  align-self: center;
  font-size: 2rem;
}
.partners p{
  align-self: center;
  font-size: 1.25rem;
}
/* marquee css */
.item{
  height: 100px;
  width: 160px;
  border-radius: 10px;
  position: absolute;
  left: max((150px * 7), 100%) ;
  animation-name: scrollleft;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.item4 img{
  height: 100%;
  width: auto;
}
@keyframes scrollleft {
  to{
      left:-150px;
  }
  
}
.wrapper{
  position: relative;
  height: 100px;
  margin: 50px 20px;
  overflow: hidden;
  mask-image: linear-gradient(to right,
  rgba(0,0,0,0),
  rgba(0,0,0,1) 20%,
  rgba(0,0,0,1) 80%,
  rgba(0,0,0,0));
}
.item1{
  animation-delay:calc(25s / 7 * (7 - 1) * -1) ;
  background-color:red;
}
.item2{
  animation-delay:calc(25s / 7 * (7 - 2) * -1) ;
  background-color:orange;
}
.item3{
  animation-delay:calc(25s / 7 * (7 - 3) * -1) ;
  background-color:yellow;
}
.item4{
  animation-delay:calc(25s / 7 * (7 - 4) * -1) ;
  background-color:green;
}
.item5{
  animation-delay:calc(25s / 7 * (7 - 5) * -1) ;
  background-color:blue;
}
.item6{
  animation-delay:calc(25s / 7 * (7 - 6) * -1) ;
  background-color:indigo;
}
.item7{
  animation-delay:calc(25s / 7 * (7 - 7) * -1) ;
  background-color:violet;
}
/*marquee css ends*/

/*footer*/
.footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  margin-top: 20px;
  background-color: var(--primary-color);
  font-weight: bold;
}
.footer a{
  font-weight: bold;
  color: var(--text-color);
}
.footer a:hover{
  color: var(--tertiary-color);
  transform: translateY(-2px);
  text-shadow: 0.5px 0 0.5px var(--text-color);
}
.socials{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: auto;
}
.socials svg{
  fill: var(--tertiary-color);
  transition: all 0.5s ease-in-out;
}
.socials svg:hover{
  fill: var(--secondary-color);
  transform: translateY(-3px);
  scale: 1.1;
}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: auto;
  margin-top: 20px;
}

@media only screen and (max-width : 800px) {
  .benefits{
    flex-direction: column;
    align-items: center;
  }
  .benefits-card{
    width: 50%;
  }
  
}
@media only screen and (max-width : 450px){
  .link-container a{
    font-size: 1rem;
  }
} 
@media only screen and (max-width : 360px){
  nav a{
    font-size: 1rem;
  }
}
#theme-toggle{
  border: 2px inset black;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: black;
  transition: all 0.5s linear;
}
#theme-toggle:hover{
  background-color: var(--tertiary-color);
  scale: 1.075;
}